
.wrapper {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  height: 30px;
  width: 80px;
  font-family: sans-serif;
  font-size: 19px;
  border: 1px solid #333;
  margin: 10px;
  border-radius: 5px;
  background-color: rgb(238, 168, 77);
}

.props {
  display: flex;
}

.props select {
  padding: 2px;
  border: 0.5 gray solid;
  font-family: sans-serif;
  font-size: 12px;
}

.props input {
  width: 100px;
  font-family: sans-serif;
  margin-left: 5px;
}


.alert {
  display: none;
  padding: 5px;
  background-color: rgb(90, 255, 192);
  border: 0.5px solid rgb(0, 189, 57);
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  transition: all 0.8s ease;
}